.editor-styles-wrapper .wp-block-ocade-blocks-workflow-n8n {
  padding: 5rem 1rem;
  background-color: var(--wp--preset--color--violet-clair);
  text-align: center;
}

.editor-styles-wrapper .wp-block-ocade-blocks-workflow-n8n p {
  align-content: center;
}

.wp-block-ocade-blocks-workflow-n8n {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
}

.wp-block-ocade-blocks-workflow-n8n n8n-demo {
  width: 100%;
}

n8n-demo {
	--n8n-frame-background-color: black;
	--n8n-json-background-color: lightgray;
	--n8n-copy-button-background-color: gray;
	--n8n-workflow-min-height: inherit;
	--n8n-iframe-border-radius: inherit;
}