.editor-styles-wrapper .wp-block-ocade-blocks-youtube-lite {
  border: 4px solid black;
}

.wp-block-ocade-blocks-youtube-lite {
  aspect-ratio: 16 / 9;
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

.wp-block-ocade-blocks-youtube-lite:focus,
.wp-block-ocade-blocks-youtube-lite:hover {
  outline: none;
}

.wp-block-ocade-blocks-youtube-lite:not(.is-playing)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.5rem;
  height: 3.5rem;
  background-color: red;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M8 5v14l11-7z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5rem;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.wp-block-ocade-blocks-youtube-lite.is-playing {
  background-image: none !important;
}

.wp-block-ocade-blocks-youtube-lite.is-playing iframe {
  border-radius: 10px;
  outline: 3px solid var(--wp--preset--color--violet);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

